* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "monospace", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}

.form {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}

.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  text-align: center;
  text-decoration: dashed;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 20px;
  padding-left: 15px;
  border-bottom-width: 2px;
}

.user-details .input-box input:focus,
form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .opt {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #a1a0a0;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#opt-1:checked ~ .category label .one,
#opt-2:checked ~ .category label .two,
#opt-3:checked ~ .category label .three {
  background: #e08823;
  border-color: #d9d9d9;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 35px 0;
}

form .button-sub input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: rgb(204, 64, 64);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
  text-indent: -7px;
  box-shadow: -4px 3px 28px -1px #24efdf;
}
form .button-sub1 input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    text-indent: -7px;
    /* box-shadow: -4px 3px 28px -1px #24efdf; */
  }

.details {
  text-align: center;
}

.details-photo {
  margin: inherit;
}

.upload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.upload input.upbtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  border: gray;
}

/* .hover-effect-submit {
  box-shadow: inset -61px 20px 51px #291717;
} */
